/*@font-face {
	font-family: 'Lato';
	src: local('Lato Black'), local('Lato-Black'), local('LatoBlack');
	src: url('../fonts/Lato-Black/Lato-Black.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/Lato-Black/Lato-Black.woff2') format('woff2'),
			 url('../fonts/Lato-Black/Lato-Black.woff') format('woff'),
			 url('../fonts/Lato-Black/Lato-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Lato';
	src: local('Lato Bold'), local('Lato-Bold'), local('LatoBold');
	src: url('../fonts/Lato-Bold/Lato-Bold.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/Lato-Bold/Lato-Bold.woff2') format('woff2'),
			 url('../fonts/Lato-Bold/Lato-Bold.woff') format('woff'),
			 url('../fonts/Lato-Bold/Lato-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Lato';
	src: local('Lato Semibold'), local('Lato-Semibold'), local('LatoSemibold');
	src: url('../fonts/Lato-Semibold/Lato-Semibold.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/Lato-Semibold/Lato-Semibold.woff2') format('woff2'),
			 url('../fonts/Lato-Semibold/Lato-Semibold.woff') format('woff'),
			 url('../fonts/Lato-Semibold/Lato-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Lato';
	src: local('Lato Regular'), local('Lato-Regular'), local('LatoRegular');
	src: url('../fonts/Lato-Regular/Lato-Regular.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/Lato-Regular/Lato-Regular.woff2') format('woff2'),
			 url('../fonts/Lato-Regular/Lato-Regular.woff') format('woff'),
			 url('../fonts/Lato-Regular/Lato-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Lato';
	src: local('Lato Light'), local('Lato-Light'), local('LatoLight');
	src: url('../fonts/Lato-Light/Lato-Light.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/Lato-Light/Lato-Light.woff2') format('woff2'),
			 url('../fonts/Lato-Light/Lato-Light.woff') format('woff'),
			 url('../fonts/Lato-Light/Lato-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
*/

/*
font-face generator:
https://everythingfonts.com/font-face
https://transfonter.org/
*/

/*
https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight

100 Thin (Hairline)
200	Extra Light (Ultra Light)
300	Light
400 Normal
500 Medium
600 Semi Bold (Demi Bold)
700 Bold
800 Extra Bold (Ultra Bold)
900 Black (Heavy)
*/