*, *::before, *::after {
  box-sizing: border-box;
}

* {
	min-height: 0;
	min-width: 0;
}

body {
	font-size: $base-font-size;
	font-family: $base-font;
	font-weight: $base-font-weight;
	font-style: $base-font-style;
	color: $base-font-color;
}

img {
	max-width: 100%;
	height: auto;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

p {
	margin: 0;
	padding: 0;
}

h1, h2, h3 ,h4, h5, h6{
	margin: 0;
	padding: 0;
}

button, input, select {
	outline: none;
}