.w100 {
	width: 100%;
}
.container {
	margin: 0 auto;
	/* max-width: $xxl-width; */
	max-width: $xl-width;
	border-top: 1px solid transparent;
	/* @include xl {
		max-width: $xl-width;
	} */
	@include lg {
		max-width: $lg-width;
	}
	@include md {
		max-width: $md-width;
	}
	@include sm {
		max-width: $sm-width;
	}
	@include xs {
		max-width: 100%;
		//padding-left: 10px;
		//padding-right: 10px;
	}
}
.container-fluid {
	margin: 0 auto;
	width: 100%;
	border-top: 1px solid transparent;
}

.nice-shadow {
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.21), 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}

.nice-shadow2 {
	box-shadow: 0px 1px 2.88px 0.12px rgba(30, 30, 30, 0.35);
}

.nice-shadow3 {
	box-shadow: 0px 0px 32.64px 1.36px rgba(30, 30, 30, 0.26);
}

.hide {
	display: none !important;
}
.block {
	display: block !important;
}
.flex {
	display: flex !important;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}