/* @mixin tablet {
	@media screen and (max-width: $tablet-break - 1) {
		@content
	}
}; */

/* @mixin phone {
	@media screen and (max-width: $phone-break - 1) {
		@content
	}
}; */

@mixin xl {
	@media screen and (max-width: $xxl-break - 1) {
		@content
	}
};

@mixin lg {	/* Landscape tablets and medium desktops */
	@media screen and (max-width: $xl-break - 1) {
		@content
	}
};

@mixin md {	/* Portrait tablets and small desktops */
	@media screen and (max-width: $lg-break - 1) {
		@content
	}
};

@mixin sm {	/* Landscape phones and portrait tablets */
	@media screen and (max-width: $md-break - 1) {
		@content
	}
};

@mixin xs {	/* Portrait phones and smaller */
	@media screen and (max-width: $sm-break - 1) {
		@content
	}
};

@mixin max-break($break) {
	@media screen and (max-width: $break+px) {
		@content
	}
};

@mixin min-break($break) {
	@media screen and (min-width: $break+px) {
		@content
	}
};

@mixin size($x, $y:$x) {
	width: $x+px;
	height: $y+px;
};