/*development colors*/
$temp1: rgba(#ff0032, 0.3);			//pink
$temp2: rgba(#00ff32, 0.3);			//green
$temp3: rgba(#6464ff, 0.3);	        //blue
$temp4: rgba(#ffff32, 0.3);			//yellow
$temp5: rgba(#ff32ff, 0.3);			//magenta
$temp6: rgba(#32ffff, 0.3);			//cyan

/*system colors*/
$black: #000000;
$white: #ffffff;

/*breakpoints*/
$tablet-break: 960px;
$phone-break: 720px;
$content-width: 1520px;

$xxl-break: 1600px;
$xl-break: 1280px;	/* Landscape tablets and medium desktops */
$lg-break: 992px;		/* Portrait tablets and small desktops */
$md-break: 768px;		/* Landscape phones and portrait tablets */
$sm-break: 576px;		/* Portrait phones and smaller */

/*content width*/
$xxl-width: 1500px;
$xl-width: 1200px;
$lg-width: 960px;
$md-width: 720px;
$sm-width: 540px;

/*base font setup*/
$base-font: "Lato", serif;
$base-font-weight: 400;
$base-font-style: normal;
$base-font-size: 14px;
$base-font-color: $black;

/*project colors*/
